.discFill{
    width : 100%;
    height: 70%;
    margin-top: 2%;
    overflow-y: scroll;
}

.messageContainer{
    width: 75%;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.messageBloc {
    color: white;
    background-color: #6e6e6e;
    padding: 8px ;
    width: 100%;
    border-radius: 8px;
}

.apiMessage{
    font-size: 16px;
}

.apiUsername{
    align-self: flex-end;
    font-size: 12px;
    line-height: 0px;
}